@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);


html {
  height: 100%;
}

header {
  padding-top: 4em;
  padding-bottom: 2em;
  color: black;
  background-color: #ffffff;
  clear: left;
  text-align: center;
  font-family: 'Roboto slab', serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 2em;
}

body {
  background-color: #ffffff;
  bottom: 0;
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

a {
  font-family: 'Roboto slab', serif;
  font-size: 15px;
  background-color: white;
  font-weight: 100;
  letter-spacing: 2px;
}

div.header-title {
  font-family: 'Roboto slab', serif;
  font-size: 21px;
  font-weight: 100;
  letter-spacing: 3px;
  margin = 0 auto;
}

div.container {
  bottom: 0;
  padding-top: 50px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 300;
  align-self: center;
  top: 10%;
  margin: 0 auto;
  line-height: 1.4em;
  letter-spacing: 0.6px;
  width: 300px;
}

div.name-eng {
  font-family: 'Roboto slab', serif;
  line-height: 40px;
  font-size: 25px;
  font-weight: 100;
  line-height: 1.4em;
  letter-spacing: 2px;
}

div.name-kor {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: 2px;
}

div.about {
  font-family: 'Roboto slab', serif;
  line-height: 40px;
  font-size: 15px;
  font-weight: 100;
  line-height: 3em;
  letter-spacing: 1px;
}

div.contact {
  width: 170px;
  align-self: center;
  font-family: 'Roboto slab', serif;
  line-height: 40px;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.4em;
  letter-spacing: 1px;
  bottom: 0;
  padding: 50px 0px 5em 13px;
  align-self: center;
  margin: 0 auto;
}

div.contact-title {
  font-family: 'Roboto slab', serif;
  line-height: 40px;
  font-size: 17px;
  font-weight: 100;
  line-height: 3em;
  letter-spacing: 1px;
  text-align: center;
}

@media ( max-width: 430px ) {
    header {
      padding-top: 2em;
    }
