

html {
  height: 100%;
}


header {
    padding-top: 7em;
    padding-bottom: 3em;
    color: black;
    clear: left;
    text-align: center;
    font-family: 'Megrim', cursive;
    font-size: 13px;
    font-weight: bold;
    line-height:1.8em;
}


body {
  background-image: url("../img/dreamwalking_bg.gif");
  background-position: 50% 50%;
  background-color: #000000;
  margin: 0;
  height: 100%;
}


a {
    text-decoration: none;
    font-family: 'Roboto slab', serif;
    font-size: 17px;
    font-weight: 100;
}

div.container {
  position: absolute;
  left: calc(50% - 250px);
  bottom: 30%;
  width: 500px;
  height: 100px;
  margin: 0;
}
