@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);


html {
  height: 100%;
}


header {
  padding-top: 7em;
  padding-bottom: 3em;
  color: black;
  background-color: white;
  clear: left;
  text-align: center;
  font-family: 'Megrim', cursive;
  font-size: 13px;
  background-color: white;
  font-weight: bold;
  line-height:1.8em
}


body {
  bottom: 0;
  padding: 0;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  background-color: white;
  font-weight: 400;
}


a {
  text-decoration: none;
  background-color: white;
  font-family: 'Megrim', cursive;
  font-size: 17px;
  background-color: white;
  font-weight: bold;
}


div.container {
  bottom: 0;
  padding: 0;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
  top: 25%;
  width: 600px;
  height: 100px;
  margin: 0 auto;
  line-height: 2em;
}


div.schedule {
  bottom: 0;
  padding: 0;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
  top: 25%;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  line-height: 2em;
}


div.bold {
  bottom: 0;
  padding: 0;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 700;
  top: 25%;
  width: 600px;
  height: 100px;
  margin: 0 auto;
  line-height: 2em;
}


div.bold_title {
  bottom: 0;
  padding: 0;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 700;
  top: 25%;
  width: 600px;
  height: 0px;
  margin: 0 auto;
  line-height: 2em;
}


div.week_done {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.5em;"
}
