@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);


html {
  height: 100%;
}

header {
  padding-top: 4em;
  padding-bottom: 2em;
  color: black;
  background-color: #ffffff;
  clear: left;
  text-align: center;
  font-family: 'Roboto slab', serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 2em;
}

body {
  background-color: #ffffff;
  bottom: 0;
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

div.footer {
  padding-top: 9em;
  padding-bottom: 5em;
  text-align: center;
}

a {
  font-family: 'Roboto slab', serif;
  font-size: 15px;
  background-color: white;
  font-weight: 100;
  letter-spacing: 2px;
}


div.header-title {
  font-family: 'Roboto slab', serif;
  font-size: 21px;
  font-weight: 100;
  letter-spacing: 3px;
  margin = 0 auto;
}

div.language {
  font-family: 'Roboto slab', serif;
  font-size: 12px;
  font-weight: 100;
  color: silver;
  letter-spacing: 2px;
  line-height: 0.7em;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
}

div.container {
  bottom: 0;
  padding-top: 15px;
  text-align: center;
  align-self: center;
  top: 10%;
  margin: 0 auto;
  line-height: 1.4em;
  letter-spacing: 0.6px;
  width: 300px;
}

div.blog-container {
  bottom: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 300;
  word-break: keep-all;
  top: 10%;
  margin: 0 auto;
  letter-spacing: 0px;
  width: 700px;
}

div.blog-container_jp {
  bottom: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  word-break: break-all;
  top: 10%;
  margin: 0 auto;
  letter-spacing: 0px;
  width: 700px;
}

div.number {
  bottom: 0;
  font-family: 'Roboto slab', serif;
  line-height: 40px;
  font-size: 19px;
  font-weight: 100;
  line-height: 1.4em;
  letter-spacing: 0px;
  top: 10%;
  line-height: 1.4em;
  letter-spacing: 0.6px;
  width: 30px;
  display: inline-block;
  vertical-align: top;
}

div.title-container {
  bottom: 0;
  text-align: left;
  align-self: center;
  top: 10%;
  width: 260px;
  display: inline-block;
  clear: left;
  padding-bottom: 15px;
  padding-right: 1em;
}

div.title {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 40px;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.4em;
  margin: 0 auto;
}

div.title_jp {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4em;
  margin: 0 auto;
  letter-spacing: 0;
}

div.blog-title {
  padding-top: 5px;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 40px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4em;
  margin: 0 auto;
}

div.blog-title_jp {
  padding-top: 5px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 40px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4em;
  margin: 0 auto;
}

div.caption {
  padding-bottom: 4px;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 40px;
  font-size: 13px;
  font-weight: 100;
  color: #515151;
  line-height: 1.4em;
  margin: 0 auto;
}

div.caption_jp {
  padding-bottom: 4px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 40px;
  font-size: 13px;
  font-weight: 100;
  color: #515151;
  line-height: 1.4em;
  margin: 0 auto;
}

div.back {
  align-self: center;
  font-family: 'Roboto slab', serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.4em;
  letter-spacing: 2px;
  bottom: 0;
  padding-top: 50px;
  text-align: center;
  top: 10%;
  margin: 0 auto;
  width: 200px;
}

img.blog-img {
  width: 1200px;
}

img.blog-img-1000px {
    width: 1000px;
}

img.blog-img-900px {
  width: 900px;
}

img.blog-img-800px {
  width: 800px;
}

img.blog-img-700px {
  width: 700px;
}

@media ( max-width: 1200px ) {
    div.container {
      width: 300px;
    }
    div.blog-container {
      width: 750px;
    }
    div.blog-container_jp {
      width: 750px;
    }
    div.caption {
      width: 800px;
    }
    img.blog-img {
      width: 100%;
    }
    img.blog-img-1000px {
      width: 800px;
    }
    img.blog-img-900px {
      width: 800px;
    }
    img.blog-img-800px {
      width: 800px;
    }
    img.blog-img-700px {
      width: 700px;
    }
}

@media ( max-width: 800px ) {
    div.container {
      width: 270;
    }
    div.blog-container {
      width: 500px;
    }
    div.blog-container_jp {
      width: 500px;
    }
    a {
      width: 180px;
    }
    img.blog-img-1000px {
      width: 100%;
    }
    img.blog-img-900px {
      width: 100%;
    }
    img.blog-img-800px {
      width: 100%;
    }
    img.blog-img-700px {
      width: 100%;
    }
  }

@media ( max-width: 600px ) {
      div.blog-container {
        width: 430px;
        padding-left: 1.5em;
        padding-right: 1.5em;
      }
      div.blog-container_jp {
        width: 430px;
        padding-left: 1.5em;
        padding-right: 1.5em;
      }
    }

@media ( max-width: 430px ) {
    div.title-container {
      width: auto;
    }
    div.blog-container {
      width: auto;
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
    div.blog-container_jp {
      width: auto;
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
    header {
      padding-top: 2em;
    }
    div.title {
      width: auto;
    }
    div.caption {
      width: auto;
    }
  }
